<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
						http://www.springframework.org/schema/beans/spring-beans.xsd
                        http://www.springframework.org/schema/context ">

    <bean id="orderService" class="cn.blz.test.service.OrderService">
        <constructor-arg name="orderDao" ref="orderDao"/>
    </bean>
    <bean id="orderDao" class="cn.blz.test.dao.order.OrderDaoImp"/>

</beans>
